
<%-include('partials/_header.ejs')-%>

<div class="container maslanomics" style="max-width: 80%;">

  <hr style="margin-bottom:35px; width:100%; border: 1px solid #3b5998; border-radius:5px;"/>

  <!-- TITLE -->
  <div class="col-sm-12" style="padding-top:30px;">
    <p class="fontsforweb_fontid_77695" style="text-align:center; padding-bottom:15px; font-size:2rem !important;">
      .
    </p>
  </div>

  <!-- CONTENT -->
  <div class="container" style="padding-bottom:50px;">

    <div class="col teo" style="display:block; margin:auto; margin-left:0%; margin-right:0%; text-align:justify; word-wrap:break-word;">
      <p class="fontsforweb_fontid_77695" style="text-indent: 5%; font-size:1.2rem;"> . </p>
      <p class="fontsforweb_fontid_77695" style="text-indent: 5%; font-size:1.2rem;">. </p>
    </div>

    <div class="col teo" style="padding-top:30px;">

      <a href="" style="display:block; margin:auto; padding-bottom:30px; text-align:center;">.com</a>

      <div class="card-header">
        <h3 class="card-body fontsforweb_fontid_77695" style="text-align:center; padding-bottom:15px; font-size:3rem; color:#3b5998;">TEMARIO</h3>

        <ul class="ulIndex"> <a href="#" target="_parent" class="anchorIndex">  </a> </ul>


      </div>
    </div>
  </div>


</div>   <!-- close container maslanomics -->


<%- include('partials/_footer');-%>