<%-include('partials/_header.ejs')-%>

<div class="container maslazoom" style="max-width: 80%;">

  <p style="text-align:center;">(Ya se habilitó la opción de pantalla completa)</p>
  <br>

  <!-- TITLE -->
  <div class="col-sm-12">
    <hr style="margin-bottom:35px; width:100%; border: 1px solid #3b5998; border-radius:5px;"/>
    <h2 class="fontsforweb_fontid_77695" style="text-align:center; padding-bottom:25px;">
      MaslaZoom 28
    </h2>
  </div>

  <!-- CONTENT -->
  <div class="container" style="padding-bottom:100px;">
    <div class="row">

      <div class="col-lg-7" style="display:block; margin:auto; margin-left:0%; margin-right:0%;">
        <iframe width="700" height="400" style="margin: auto; max-width:100%;" src="https://www.youtube.com/embed/OLge2mzuscU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="col-lg-5">
        <div class="card-header destacados">
          <h3>Temas destacados:</h3>
          <i class="far">-El director de "Para todo argentino libre: Habla Maslatón"</i> <br />
          <i class="far">-Staling se podría ir del país</i> <br />
          <i class="far">-Desfile de profesionales de la salud disidentes</i> <br />
          <i class="far">-Los dos modelos de "cuarentena" y cuál era el más conveniente para Argentina</i> <br />
          <i class="far">-El problema de los falsos positivos</i> <br />
          <i class="far">-El problema de calcular los muertos de COVID y otras mediciones</i> <br />
          <i class="far">-Daños a la salud mental causados por el aislamiento social obligatorio</i> <br />
          <i class="far">-Bitcoin, Dow Jones y NASDAQ</i> <br />
        </div>
      </div>
    </div>
  </div>

  <!-- TITLE -->
  <div class="col-sm-12">
    <hr style="margin-bottom:35px; width:100%; border: 1px solid #3b5998; border-radius:5px;"/>
    <h2 class="fontsforweb_fontid_77695" style="text-align:center; padding-bottom:25px;">
      Masla en Crónica TV
    </h2>
  </div>

  <!-- CONTENT -->
  <div class="container" style="padding-bottom:100px;">
    <div class="row">

      <div class="col-lg-7" style="display:block; margin:auto; margin-left:0%; margin-right:0%;">
        <iframe width="700" height="400" style="margin: auto; max-width:100%;" src="https://www.youtube.com/embed/6eQtwWj4DPk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="col-lg-5">
        <div class="card-header destacados">
          <h4> Otra vez Carlos defendiendo sus pensamientos frente a periodistas y columnistas que lo intentan ridiculizar pero hacen el ridículo </h4>
        </div>
      </div>
    </div>
  </div>


  <!-- TITLE -->
  <div class="col-sm-12">
    <hr style="margin-bottom:35px; width:100%; border: 1px solid #3b5998; border-radius:5px;"/>
    <h2 class="fontsforweb_fontid_77695" style="text-align:center; padding-bottom:25px;">
      MaslaZoom 27
    </h2>
  </div>

  <!-- CONTENT -->
  <div class="container" style="padding-bottom:100px;">
    <div class="row">

      <div class="col-lg-7" style="display:block; margin:auto; margin-left:0%; margin-right:0%;">
        <iframe width="700" height="400" style="margin: auto; max-width:100%;" src="https://www.youtube.com/embed/uworF0wWGJc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="col-lg-5">
        <div class="card-header destacados">
          <h3>Temas destacados:</h3>
          <i class="far">-La película "Para todo argentino libre: Habla Maslatón"</i> <br />
          <i class="far">-Bitcoin</i> <br />
          <i class="far">-Dow Jones al alza y fracaso del socialismo</i> <br />
          <i class="far">-Comienzo de la entrevista: definición ideológica</i> <br />
          <i class="far">-Patriotismo en el liberalismo, asunto Malvinas</i> <br />
          <i class="far">-Militancia de Carlos</i> <br />
          <i class="far">-Corrupción financiera macriísta</i> <br />
          <i class="far">-Techo de Fernández</i> <br />
          <i class="far">-Dinero efectivo y barrani</i> <br />
        </div>
      </div>
    </div>
  </div>


  <!-- TITLE -->
  <div class="col-sm-12">
    <hr style="margin-bottom:35px; width:100%; border: 1px solid #3b5998; border-radius:5px;"/>
    <h2 class="fontsforweb_fontid_77695" style="text-align:center; padding-bottom:25px;">
      Masla en Intratables II
    </h2>
  </div>

  <!-- CONTENT -->
  <div class="container" style="padding-bottom:100px;">
    <div class="row">

      <div class="col-lg-7" style="display:block; margin:auto; margin-left:0%; margin-right:0%;">
        <iframe width="700" height="400" style="margin: auto; max-width:100%;" src="https://www.youtube.com/embed/BiaYLu0hzjg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="col-lg-5">
        <div class="card-header destacados">
          <h3>Temas destacados:</h3>
          <i class="far">-Estado de situación</i> <br />
          <i class="far">-La doctrina Barrani</i> <br />
          <i class="far">-Alcahuetismo</i> <br />
          <i class="far">-Cumbia villera: orígenes y contenidos</i> <br />
          <i class="far">-Futuro de la economía</i> <br />
        </div>
      </div>
    </div>
  </div>


  <!-- TITLE -->
  <div class="col-sm-12">
    <hr style="margin-bottom:35px; width:100%; border: 1px solid #3b5998; border-radius:5px;"/>
    <h2 class="fontsforweb_fontid_77695" style="text-align:center; padding-bottom:25px;">
      MaslaZoom 25 con Roberto Cachanosky
    </h2>
  </div>

  <!-- CONTENT -->
  <div class="container" style="padding-bottom:100px;">
    <div class="row">

      <div class="col-lg-7" style="display:block; margin:auto; margin-left:0%; margin-right:0%;">
        <iframe width="700" height="400" style="margin: auto; max-width:100%;" src="https://www.youtube.com/embed/Bkf7LOjyYD4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="col-lg-5">
        <div class="card-header destacados">
          <h3>Temas destacados:</h3>
          <i class="far">-Estado de situación</i> <br />
          <i class="far">-Posición liberal frente al cambiemismo</i> <br />
          <i class="far">-Menos leyes, cultura del trabajo</i> <br />
          <i class="far">-Rol del banco central</i> <br />
          <i class="far">-Estrategia para el PD</i> <br />
        </div>
      </div>
    </div>
  </div>


  <!-- TITLE -->
  <div class="col-sm-12">
    <hr style="margin-bottom:35px; width:100%; border: 1px solid #3b5998; border-radius:5px;"/>
    <h2 class="fontsforweb_fontid_77695" style="text-align:center; padding-bottom:25px;">
      MaslaZoom 24 con Guillermo Moreno
    </h2>
  </div>

  <!-- CONTENT -->
  <div class="container" style="padding-bottom:100px;">
    <div class="row">

      <div class="col-lg-7" style="display:block; margin:auto; margin-left:0%; margin-right:0%;">
        <iframe width="700" height="400" style="margin: auto; max-width:100%;" src="https://www.youtube.com/embed/EMJqFdjrSU8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="col-lg-5">
        <div class="card-header destacados">
          <h3>Temas destacados:</h3>
          <i class="far">-Teoría de los precios</i> <br />
          <i class="far">-Pistolas y plomitos en las negociaciones</i> <br />
          <i class="far">-Subsidios, proteccionismo, productividad, impuestos</i> <br />
          <i class="far">-La 125, Fernández como radical</i> <br />
          <i class="far">-La escultura del "pajarraco"</i> <br />
          <i class="far">-Futuro político de Moreno</i> <br />
        </div>
      </div>
    </div>
  </div>


  <!-- TITLE -->
  <div class="col-sm-12">
    <hr style="margin-bottom:35px; width:100%; border: 1px solid #3b5998; border-radius:5px;"/>
    <h2 class="fontsforweb_fontid_77695" style="text-align:center; padding-bottom:25px;">
      Masla en Intratables
    </h2>
  </div>

  <!-- CONTENT -->
  <div class="container" style="padding-bottom:100px;">
    <div class="row">

      <div class="col-lg-7" style="display:block; margin:auto; margin-left:0%; margin-right:0%;">
        <iframe width="700" height="400" style="margin: auto; max-width:100%;" src="https://www.youtube.com/embed/CrDG1gI2ois" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      
      <div class="col-lg-5">
        <div class="card-header destacados">
          <h4> Carlos explica su postura y responde al batallón de periodistas oficialistas, que piden en vivo su dirección para que las autoridades lo detengan por contradecir al gobierno </h4>
        </div>
      </div>
    </div>
  </div>


    <!-- TITLE -->
    <div class="col-sm-12">
      <hr style="margin-bottom:35px; width:100%; border: 1px solid #3b5998; border-radius:5px;"/>
      <h2 class="fontsforweb_fontid_77695" style="text-align:center; padding-bottom:25px;">
        Masla en C5N
      </h2>
    </div>
  
    <!-- CONTENT -->
    <div class="container" style="padding-bottom:100px;">
      <div class="row">
  
        <div class="col-lg-7" style="display:block; margin:auto; margin-left:0%; margin-right:0%;">
          <iframe width="700" height="400" style="margin: auto; max-width:100%;" src="https://www.youtube.com/embed/uOhLKeaP1EM?start=228" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
  
        <div class="col-lg-5">
          <div class="card-header destacados">
            <h4>Intercambio con Gustavo Sylvestre por la legitimidad y legalidad de las medidas del gobierno y la validez de la cuarentena como estrategia contra el coronavirus</h4>
          </div>
        </div>
      </div>
    </div>
  

  <!-- TITLE -->
  <div class="col-sm-12">
    <hr style="margin-bottom:35px; width:100%; border: 1px solid #3b5998; border-radius:5px;"/>
    <h2 class="fontsforweb_fontid_77695" style="text-align:center; padding-bottom:25px;">
      MaslaZoom 23
    </h2>
  </div>

  <!-- CONTENT -->
  <div class="container" style="padding-bottom:100px;">
    <div class="row">

      <div class="col-lg-7" style="display:block; margin:auto; margin-left:0%; margin-right:0%;">
        <iframe width="700" height="400" style="margin: auto; max-width:100%;" src="https://www.youtube.com/embed/KBNG0AigHW8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="col-lg-5">
        <div class="card-header destacados">
          <h3>Temas destacados:</h3>
          <i class="far">-Se presentan jóvenes de Córdoba que formaron un partido (00:04:00)</i> <br />
          <i class="far">-El rol del Estado en salud (00:10:00)</i> <br />
          <i class="far">-Las encuestas son armadas a pedido del político (00:22:00)</i> <br />
          <i class="far">-Precios libres (00:34:00)</i> <br />
          <i class="far">-Cómo se determina el gasto público y cómo se frena a los tiranos (00:38:00)</i> <br />
          <i class="far">-Los liberales y la pasión por el leverage (00:48:00)</i> <br />
          <i class="far">-La rutina de Carlos (01:23:00)</i> <br />
        </div>
      </div>
    </div>
  </div>


  <!-- TITLE -->
  <div class="col-sm-12">
    <hr style="margin-bottom:35px; width:100%; border: 1px solid #3b5998; border-radius:5px;"/>
    <h2 class="fontsforweb_fontid_77695" style="text-align:center; padding-bottom:25px;">
      MaslaZoom 22
    </h2>
  </div>

  <!-- CONTENT -->
  <div class="container" style="padding-bottom:100px;">
    <div class="row">

      <div class="col-lg-7" style="display:block; margin:auto; margin-left:0%; margin-right:0%;">
        <iframe width="700" height="400" style="margin: auto; max-width:100%;" src="https://www.youtube.com/embed/3c66q0QnA50?start=656" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="col-lg-5">
        <div class="card-header destacados">
          <h3>Temas destacados:</h3>
          <i class="far">Tercer dúo con Roberto Ruarte</i> <br />
          <i class="far">-Bitcoin</i> <br />
          <i class="far">-Brasil y Chile</i> <br />
          <i class="far">-Argentina</i> <br />
          <i class="far">-Participación de Jorge Robles</i> <br />
          <i class="far">-Petróleo</i> <br />
          <i class="far">-Soja, trigo, maíz, azúcar, café</i> <br />
          <i class="far">-Nasdaq, Dow Jones, S&P500</i> <br />
        </div>
      </div>
    </div>
  </div>


  <!-- TITLE -->
  <div class="col-sm-12">
    <hr style="margin-bottom:35px; width:100%; border: 1px solid #3b5998; border-radius:5px;"/>
    <h2 class="fontsforweb_fontid_77695" style="text-align:center; padding-bottom:25px;">
      MaslaZoom 21
    </h2>
  </div>

  <!-- CONTENT -->
  <div class="container" style="padding-bottom:100px;">
    <div class="row">

      <div class="col-lg-7" style="display:block; margin:auto; margin-left:0%; margin-right:0%;">
        <iframe width="700" height="400" style="margin: auto; max-width:100%;"
         src="https://www.youtube.com/embed/WhYZ0WKXWpI" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="col-lg-5">
        <div class="card-header destacados">
          <h3>Temas destacados:</h3>
          <i class="far">(ver la hora en la barra de tareas del video)</i> <br />
          <i class="far">-22:00 Estado del país, cuarentena, bear market</i> <br />
          <i class="far">-22:06 Convertibilidad - intro</i> <br />
          <i class="far">-22:08 Secesionismo (CABA, Mendoza), lavado de dinero, Travel Rule</i> <br />
          <i class="far">-22:27 Convertibilidad I</i> <br />
          <i class="far">-23:03 Habla Staling</i> <br />
          <i class="far">-23:09 Sebastián Gutiérrez</i> <br />
          <i class="far">-23:14 Convertibilidad II: corridas bancarias y cambiarias</i> <br />
          <i class="far">-23:19 Bitcoin</i> <br />
          <i class="far">-23:23 Luis Corbusier (Mendoza)</i> <br />
          <i class="far">-23:29 Mercados norteamericanos</i>
        </div>
      </div>
    </div>
  </div>


  <!-- TITLE -->
  <div class="col-sm-12">
    <hr style="margin-bottom:35px; width:100%; border: 1px solid #3b5998; border-radius:5px;"/>
    <h2 class="fontsforweb_fontid_77695" style="text-align:center; padding-bottom:25px;">
      MaslaZoom 20
    </h2>
  </div>

  <!-- CONTENT -->
  <div class="container" style="padding-bottom:100px;">
    <div class="row">

      <div class="col-lg-7" style="display:block; margin:auto; margin-left:0%; margin-right:0%;">
        <iframe width="700" height="400" style="margin: auto; max-width:100%;"
         src="https://www.youtube.com/embed/GdcAwvn-Izc" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"; allowfullscreen="allowfullscreen"></iframe>
      </div>

      <div class="col-lg-5">
        <div class="card-header destacados">
          <h3>Temas destacados:</h3>
          <i class="far">-Carlos en plaza San Martín Vs. autoridades de CABA</i> <br />
          <i class="far">-No vamos a Venezuela</i> <br />
          <i class="far">-Vicentín y la deuda</i> <br />
          <i class="far">-Staling en el puente Pueyrredón</i> <br />
          <i class="far">-Dow Jones y Nasdaq corrigiendo</i> <br />
          <i class="far">-GGAL, YPF</i> <br />
          <i class="far">-Dúo con Jorge Robles: bancos, Israel, Japón</i>
        </div>
      </div>
    </div>
  </div>
  

  <!-- TITLE -->
  <div class="col-sm-12">
    <hr style="margin-bottom:35px; width:100%; border: 1px solid #3b5998; border-radius:5px;"/>
    <h2 class="fontsforweb_fontid_77695" style="text-align:center; padding-bottom:25px;">
      MaslaZoom 19
    </h2>
  </div>

  <!-- CONTENT -->
  <div class="container" style="padding-bottom:100px;">
    <div class="row">

      <div class="col-lg-7" style="display:block; margin:auto; margin-left:0%; margin-right:0%;">
        <iframe width="700" height="400" style="margin: auto; max-width:100%;" src="https://www.youtube.com/embed/yUGonujPeY8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"; allowfullscreen="allowfullscreen"></iframe>
      </div>

      <div class="col-lg-5">
        <div class="card-header destacados">
          <h3>Temas destacados:</h3>
          <i class="far">-Jorge Campagnucci</i> <br />
          <i class="far">-Mercados</i> <br />
          <i class="far">-Jorge Robles </i> <br />
        </div>
      </div>
    </div>
  </div>


  <!-- TITLE -->
  <div class="col-sm-12">
    <hr style="margin-bottom:35px; width:100%; border: 1px solid #3b5998; border-radius:5px;"/>
    <h2 class="fontsforweb_fontid_77695" style="text-align:center; padding-bottom:25px;">
      MaslaZoom 18
    </h2>
  </div>

  <!-- CONTENT -->
  <div class="container" style="padding-bottom:100px;">
    <div class="row">

      <div class="col-lg-7" style="display:block; margin:auto; margin-left:0%; margin-right:0%;">
        <iframe width="700" height="400" style="margin: auto; max-width:100%;"
         src="https://www.youtube.com/embed/vVIlqwFftSI" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"; allowfullscreen="allowfullscreen"></iframe>
      </div>

      <div class="col-lg-5">
        <div class="card-header destacados">
          <h3>Temas destacados:</h3>
          <i class="far">-Análisis de mercados</i> <br />
          <i class="far">-La opinión de Zaczac</i> <br />
          <i class="far">-Foristas varios </i> <br />
          <i class="far">-El meme de banco Galicia</i>
        </div>
      </div>
    </div>
  </div>



  <hr style="margin-bottom:35px; width:100%; border: 1px solid #3b5998; border-radius:5px;"/>


  <div class="row" style="padding-bottom:15px;">
    <div class="col-md-4 col-sm -6">
      <p class="fontsforweb_fontid_77695" style="text-align:center; font-size:1.1rem; margin-bottom:5px; margin-top: 20px;"> maslazoom 17 </p>
      <iframe style="display:block; margin:auto; width:200px;" src="https://www.youtube.com/embed/8a7O3I_yVxA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"; allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div class="col-md-4 col-sm -6">
      <p class="fontsforweb_fontid_77695" style="text-align:center; font-size:1.1rem; margin-bottom:5px; margin-top: 20px;"> maslazoom 16 </p>
      <iframe style="display:block; margin:auto; width:200px;" src="https://www.youtube.com/embed/DAb5JROQ-qc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"; allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div class="col-md-4 col-sm -6">
      <p class="fontsforweb_fontid_77695" style="text-align:center; font-size:1.1rem; margin-bottom:5px; margin-top: 20px;"> maslazoom 15 </p>
      <iframe style="display:block; margin:auto; width:200px;" src="https://www.youtube.com/embed/5fjrPgJTV1E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"; allowfullscreen="allowfullscreen"></iframe>
    </div>
  </div>

  <div class="row" style="padding-bottom:15px;">
    <div class="col-md-4 col-sm -6">
      <p class="fontsforweb_fontid_77695" style="text-align:center; font-size:1.1rem; margin-bottom:5px; margin-top: 20px;"> maslazoom 14 </p>
      <iframe style="display:block; margin:auto; width:200px;" src="https://www.youtube.com/embed/2STSGulYUBE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"; allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div class="col-md-4 col-sm -6">
      <p class="fontsforweb_fontid_77695" style="text-align:center; font-size:1.1rem; margin-bottom:5px; margin-top: 20px;"> maslazoom 13 </p>
      <iframe style="display:block; margin:auto; width:200px;" src="https://www.youtube.com/embed/J5tYPG3yiT4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"; allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div class="col-md-4 col-sm -6">
      <p class="fontsforweb_fontid_77695" style="text-align:center; font-size:1.1rem; margin-bottom:5px; margin-top: 20px;"> maslazoom 12 </p>
      <iframe style="display:block; margin:auto; width:200px;" src="https://www.youtube.com/embed/SDSQi8i6XHc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"; allowfullscreen="allowfullscreen"></iframe>
    </div>
  </div>

  <div class="row" style="padding-bottom:15px;">
    <div class="col-md-4 col-sm -6">
      <p class="fontsforweb_fontid_77695" style="text-align:center; font-size:1.1rem; margin-bottom:5px; margin-top: 20px;"> maslazoom 11 </p>
      <iframe style="display:block; margin:auto; width:200px;" src="https://www.youtube.com/embed/14-u2lxGDrw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"; allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div class="col-md-4 col-sm -6">
      <p class="fontsforweb_fontid_77695" style="text-align:center; font-size:1.1rem; margin-bottom:5px; margin-top: 20px;"> maslazoom 10 </p>
      <iframe style="display:block; margin:auto; width:200px;" src="https://www.youtube.com/embed/GVHsbJMN30s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"; allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div class="col-md-4 col-sm -6">
      <p class="fontsforweb_fontid_77695" style="text-align:center; font-size:1.1rem; margin-bottom:5px; margin-top: 20px;"> maslazoom 09 </p>
      <iframe style="display:block; margin:auto; width:200px;" src="https://www.youtube.com/embed/YOJ9U7dlowA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"; allowfullscreen="allowfullscreen"></iframe>
    </div>
  </div>

  <div class="row" style="padding-bottom:15px;">
    <div class="col-md-4 col-sm -6">
      <p class="fontsforweb_fontid_77695" style="text-align:center; font-size:1.1rem; margin-bottom:5px; margin-top: 20px;"> maslazoom 08 </p>
      <iframe style="display:block; margin:auto; width:200px;" src="https://www.youtube.com/embed/MTQ9w9TJe04" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"; allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div class="col-md-4 col-sm -6">
      <p class="fontsforweb_fontid_77695" style="text-align:center; font-size:1.1rem; margin-bottom:5px; margin-top: 20px;"> maslazoom 07 </p>
      <iframe style="display:block; margin:auto; width:200px;" src="https://www.youtube.com/embed/-z_XzSyZWOk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"; allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div class="col-md-4 col-sm -6">
      <p class="fontsforweb_fontid_77695" style="text-align:center; font-size:1.1rem; margin-bottom:5px; margin-top: 20px;"> maslazoom 06 </p>
      <iframe style="display:block; margin:auto; width:200px;" src="https://www.youtube.com/embed/WSZdvAanU2I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"; allowfullscreen="allowfullscreen"></iframe>
    </div>
  </div>

  <div class="row" style="padding-bottom:15px;">
    <div class="col-md-4 col-sm -6">
      <p class="fontsforweb_fontid_77695" style="text-align:center; font-size:1.1rem; margin-bottom:5px; margin-top: 20px;"> maslazoom 05 </p>
      <iframe style="display:block; margin:auto; width:200px;" src="https://www.youtube.com/embed/WoE1_cX-JxA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"; allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div class="col-md-4 col-sm -6">
      <p class="fontsforweb_fontid_77695" style="text-align:center; font-size:1.1rem; margin-bottom:5px; margin-top: 20px;"> maslazoom 04 </p>
      <iframe style="display:block; margin:auto; width:200px;" src="https://www.youtube.com/embed/zwTAWATwD8U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"; allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div class="col-md-4 col-sm -6">
      <p class="fontsforweb_fontid_77695" style="text-align:center; font-size:1.1rem; margin-bottom:5px; margin-top: 20px;"> maslazoom 03 </p>
      <iframe style="display:block; margin:auto; width:200px;" src="https://www.youtube.com/embed/poT2rVYEcMg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"; allowfullscreen="allowfullscreen"></iframe>
    </div>
  </div>





</div>   <!-- close container maslazoom -->
    


<%- include('partials/_footer');-%>
