 
    <!-- Footer -->
    <footer class="page-footer font-small teal pt-4" style="padding-top:80px !important;">

      <!-- Footer Text -->
      <div class="container-fluid text-center text-md-left" style="background-color:#244794; padding-top:30px;">        <!-- Grid row -->
        <div class="row">     
          <div class="col-md-1 mt-md-0 mt-3"></div>
          <div class="col-md-5 mt-md-0 mt-3 fontsforweb_fontid_77695" style="margin-bottom:6px;">            
            <h5 class="text-uppercase font-weight-bold" style="font-size:1.5rem">Se gobierna a sí misma</h5>
            <p class="fontsforweb_fontid_77695" style="font-size:1rem; text-align:justify;">
              El buscador no intenta adivinar lo que estás buscando. Es un buscador exhaustivo que 
              ordena resultados por fecha. No diferencia mayúsculas de minúsculas ni diferencia 
              vocales con y sin tildes o diéresis. Centraliza la búsqueda en ambas redes sociales.
              <br /> El captcha es para la seguridad de la aplicación. Era eso o implementar un sistema de login invasivo, contrario al anonimato de la red.
            </p>
          </div>
          <hr class="clearfix w-100 d-md-none pb-3">
          <div class="col-md-5 mb-md-0 mb-3 fontsforweb_fontid_77695" style="margin-bottom:6px;">
            <h5 class="text-uppercase font-weight-bold" style="font-size:1.5rem">Memerales</h5>
            <p class="fontsforweb_fontid_77695" style="font-size:1rem; text-align:justify;">
              Todos los dibujos son de mi autoría, excepto el de /maslaboard. Se suben porque se suben.
              Los comentarios irrespetuosos serán eliminados.
              <br /> Esta app es 100% anti-publicidad y 100% pro-donaciones para su financiamiento. 
              <br /> Comunicación a maslabook.app@gmail.com
              <br /> Se agradecen sugerencias y avisos de errores.
            </p>
          </div>
          <div class="col-md-1 mt-md-0 mt-3"></div>
        </div>
      </div>

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3"
       style="background-color:rgba(0, 0, 0, 0.87); color:blanchedalmond; padding-bottom:10px !important;" >
        <p style="margin-bottom:5px;"> © 2020 Copyright:
          <a href="https://www.maslabook.com" style="color:blue;"> maslabook.com</a>
        </p>

        <div style="font-size:16px; margin:0 auto; width:300px" class="blockchain-btn" data-address="1ATseiqws37XuvFg57NNCDdCAnEQ5J9XyZ" data-shared="false">
          <div class="blockchain stage-begin">
            <p style="color:blue; margin-bottom:5px;"> Click para hacer una donación en Bitcoins </p>
          </div>
          <div class="blockchain stage-ready">
              <p align="center">Dirección: <b>[[address]]</b></p>
              <p align="center" class="qr-code"></p>
          </div>
          <div class="blockchain stage-loading" style="text-align:center">
            <img src="https://blockchain.info/Resources/loading-large.gif"/>
        </div>
          <div class="blockchain stage-paid">
              Donación de <b>[[value]] BTC</b> recibida. Gracias!
          </div>
          <div class="blockchain stage-error">
              <font color="red">[[error]]</font>
          </div>
        </div>
      </div>      <!-- Copyright -->

    </footer>

  </div>    <!-- close div .container maslabook -->

  <script>
    //alert("Screen width: " + screen.width + ", screen height: " + window.screen.height)
    // function adjust() {
    //   if (screen.width>990 && screen.width<1200) {
    //     document.getElementById('zoom').style.color = '#3b5998';
    //   }
    // }
    //new Promise(resolve => setTimeout(resolve, 5000));
    // setInterval('adjust()', 5000);
  </script>

  <!-- <script type="text/javascript" src="../main.js">  </script> -->



</body>
</html>
